<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app </h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit veniam nesciunt natus qui cum fugiat asperiores reiciendis
    doloremque neque deserunt vitae, provident ut consectetur, facere in amet facilis omnis?</p>
  <a href=""
    class="btn btn-primary btn-lg">link</a>
</div>
