body {
  background: rgb(219, 219, 219)
}
.imgAjuste{
  width: 100%;
}
nav, ul, li, a {
  display: inline-block;
}
/* Selector más especifico para evitar usar !important */
a.c-black.dropdown-item {
  color: black;
}