{{#if success_created_msg}}
<div class="alert alert-success alert-dismissible fade show"
  role="alert">
  {{success_created_msg}}
  <button type="button"
    class="close"
    data-dismiss="alert"
    label="Close"><span aria-hidden="true">&times;</span></button>
</div>
{{/if}}
{{#if success_edited_msg}}
<div class="alert alert-success alert-dismissible fade show"
  role="alert">
  {{success_edited_msg}}
  <button type="button"
    class="close"
    data-dismiss="alert"
    label="Close"><span aria-hidden="true">&times;</span></button>
</div>
{{/if}}
{{#if success_deleted_msg}}
<div class="alert alert-success alert-dismissible fade show"
  role="alert">
  {{success_deleted_msg}}
  <button type="button"
    class="close"
    data-dismiss="alert"
    label="Close"><span aria-hidden="true">&times;</span></button>
</div>
{{/if}}
