<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p>{{descripcion}}</p>
        <small>{{date}}</small>
      </div>
    </div>
  </div>
  {{/each}}
</div>
